<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GlashartLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net configSource="log4net.config"/>
  
  <applicationSettings>
    <GlashartLibrary.Properties.Settings>
      <setting name="TvMenuURL" serializeAs="String">
        <value>http://w.zt6.nl/tvmenu/</value>
      </setting>
      <setting name="EpgURL" serializeAs="String">
        <value>http://w.zt6.nl/epgdata/</value>
      </setting>
      <setting name="TvMenuFolder" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\TvMenu</value>
      </setting>
      <setting name="M3UfileName" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\TvMenu\glashart.m3u</value>
      </setting>
      <setting name="IgmpToUdp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="M3U_ChannelLocationImportance" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ztv-hd</string>
            <string>ztv-sd</string>
            <string>ztv</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ChannelsListFileName" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\ChannelList.txt</value>
      </setting>
      <setting name="EpgNumberOfDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="EpgFolder" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\EPG</value>
      </setting>
      <setting name="EpgArchiving" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="XmlTvFileName" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\guide.xml</value>
      </setting>
      <setting name="DownloadedM3UFileName" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\glashart-downloaded.m3u</value>
      </setting>
      <setting name="IconFolder" serializeAs="String">
        <value>Data\Icon</value>
      </setting>
      <setting name="DataFolder" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data</value>
      </setting>
      <setting name="TvhGenreTranslationsFile" serializeAs="String">
        <value>D:\GlashartEPGgrabber\Data\EpgGenres.tvh</value>
      </setting>
    </GlashartLibrary.Properties.Settings>
  </applicationSettings>
</configuration>